<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Content/shop-homepage.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">My Ever Note</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mr-auto    ">
                  
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-wrench" style="margin-right: 2px;"></i>Yönetim</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Home/MostLiked"><i class="fa fa-heart" style="margin-right: 2px;"></i>En Beğenilenler</a>
                    </li>
                    <li class="nav-item">
                        
                        <a class="nav-link" href="~/Home/Index"><i class="fa fa-list"></i> Son Yazılar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Home/About"> <i class="fa fa-info-circle"></i>Hakkımızda</a>
                    </li> 
                </ul>
                <ul class=" navbar-nav" >
                    <li class="nav-item ">
                        <a class="nav-link" href="#">
                            Giriş
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> Üye Ol</a>
                    </li>
                    <li class="nav-item active" >
                        
                        <a class="nav-link" href="#"> Onur Şamil Şahin</a>
                    </li>
                    <li class="nav-item active" >
                        
                        <a class="nav-link" href="#"> Çıkış</a>
                    </li>
                   
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page Content -->
   @RenderBody()
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 text-center">
                    <h5><strong> Sit,amet consectetur.</strong></h5>
                    <hr/>
                    <p>
                        

                             <a href="#">  Deneme 1</a>  <br/>

                             <a href="#">  Deneme 2</a>  <br />

                             <a href="#">  Deneme 3</a>  <br />
 
                    </p>
                </div>
                <div class="col-lg-4 text-center">
                    <h5> <strong>MyEverNote</strong></h5>
                    <hr/>
                    
                    <p> Tüm Hakları Saklıdır &copy; My Ever Note @DateTime.Now.Year</p>
                </div>
                <div class="col-lg-4 text-center">
                    <h5> <strong>E-Bülten Üyeliği</strong></h5>
                    <hr/>
                    
                   
                    <div class="row">
                        <div class="col-md-8">
                            <input type="text" placeholder="e-posta adresiniz" class="form-control"/>
                        </div>
                       
                        <div class="col-md-4 "  >
                            <button type="submit" class="btn btn-info"> Gönder</button>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
        <!-- /.container -->
    </footer>
    <!-- Bootstrap core JavaScript -->

</body>
</html>
